<footer class="main-footer mt-5">
	<!-- main -->
</footer>

<div class="modal fade" id="modal-notifications" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content rounded-0">
			<div class="modal-body p-5 ">
				<button type="button" class="close float-right" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<div class="container text-center p-2 mb-3">
					<p><item class="material-icons big-text">notifications_none</item></p>
					<h3>Notificações</h3>
				</div>
				<div class="row shadow p-3 bg-danger">
					<p class="text-light col-sm-12 min-text m-0">Você possui conta em <span class="font-weight-bold">atraso.</span> 
						<button class="btn rounded-0 overlay-button float-right"><i class="material-icons">close</i></button>
					</p>
				</div>
				<div class="row shadow p-3 bg-success">
					<p class="text-light col-sm-12 min-text m-0">Um novo ítem da sua lista de desejos pode ser adquirido.
						<button class="btn rounded-0 overlay-button float-right"><i class="material-icons">close</i></button>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>