<nav id="drawer-menu" ng-controller="menuController">
	<div class="row no-gutters text-center bg-info pt-2 pb-2 pl-3 pr-3 header">
		<div class="col-2 col-sm-2 mobile">
			<button class="float-left btn btn-link mobile mt-1" id="button-menu"><i class="material-icons font-large text-white">dehaze</i></button>
		</div>
		<div class="col-8 col-sm-8 col-md-12">
			<h3 class="font-weight-light text-white align-middle text-center">angularMetrics</h3>
		</div>
		<div class="col-2 col-sm-2 mobile">
			<ul class="navbar-nav float-right">
				<li class="nav-item text-nowrap dropdown">
					<a class="btn-user text-info" href="/#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="material-icons font-large text-white">account_circle</i>
						<h6 class="float-right text-dark align-middle mt-2 ml-1 desktop">Nome do usuário</h6>
					</a>
					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown01">
						<p class="dropdown-item mobile disable">Nome do usuário</p>
						<a class="dropdown-item" href="#">Conta</a>
						<a class="dropdown-item" href="#">Sair</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="main-sidebar desktop row no-gutters">
		<ul class="nav flex-column col-8 bg-dark">
			<h3 class="font-weight-light text-white align-middle text-center bg-info p-5 m-0 mobile">angularMetrics</h3>
			<li class="nav-item">
				<a class="nav-link active" href="#"><i class="material-icons float-left mr-2">data_usage</i> Dashboard</a>
			</li>
		</ul>
		<div class="overlay col-4"></div>
	</div>
	
</nav>